src/flows/SendEmailWhenKidNotPresent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToParents</name>
        <label>SendEmailToParents</label>
        <locationX>1104</locationX>
        <locationY>924</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Find_Kids_With_No_Visits</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Find_Kids_With_No_Visits.Name} did not attend The Sun kindergarten today</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ParentsAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Find_Kids_With_No_Visits.Name} attendance issues</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CheckVisits</name>
        <label>CheckVisits</label>
        <locationX>1236</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>Find_Kids_With_No_Visits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoVisitToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToParents</targetReference>
            </connector>
            <label>NoVisitToday</label>
        </rules>
    </decisions>
    <formulas>
        <name>ParentsAddresses</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISBLANK({!Find_Kids_With_No_Visits.PrimaryParent__c})), {!Find_Kids_With_No_Visits.PrimaryParent__r.Email__c}, &quot;&quot;) + &apos;,&apos; + IF (NOT(ISBLANK({!Find_Kids_With_No_Visits.SecondaryParent__c})), {!Find_Kids_With_No_Visits.SecondaryParent__r.Email__c}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>SendEmailWhenKidNotPresent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendEmailWhenKidNotPresent</label>
    <loops>
        <name>Find_Kids_With_No_Visits</name>
        <label>Find Kids With No Visits</label>
        <locationX>1016</locationX>
        <locationY>564</locationY>
        <collectionReference>AllKids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Visits</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetKids</name>
        <label>GetKids</label>
        <locationX>1016</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Kids_With_No_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdKid</elementReference>
            </value>
        </filters>
        <object>SunContact__c</object>
        <outputReference>AllKids</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryParent__c</queriedFields>
        <queriedFields>SecondaryParent__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdKid</name>
        <label>GetRecordTypeIdKid</label>
        <locationX>1016</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kid</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeIdKid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Visits</name>
        <label>Visits</label>
        <locationX>1236</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckVisits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visitor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Kids_With_No_Visits.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>SunVisit__c</object>
        <outputReference>VisitId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRecordTypeIdKid</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-09</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllKids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SunContact__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeIdKid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SunVisit__c</objectType>
    </variables>
</Flow>
